$fondoNavegador: rgb(0, 255, 180);
$letrasPrincipal: white;
$letrasOscuras: #085A4D;
$fondoNavegadorDesplegable: #18EBCA;
$fondoEfectoProyecto: black;
$letrasEfectoProyecto: white;
$fondoBotonEfectoProyecto: grey;
$fondoModoOscuroSubContenedor: #3b302a;
$fondoModoOscuroNavegador: #847b78;
$success: #198754;

// MEDIDAS DISPOSITIVOS
$tablet: 768px;
$movil: 500px;
